install-tests/tmp
install-tests/tests.bats
install-tests/test.log
jobs/llvm-toolchain-*/lastStable
jobs/llvm-toolchain-*/workspace/
jobs/llvm-toolchain-*/builds/
jobs/llvm-toolchain-*/disk-usage.xml
jobs/llvm-toolchain-*/lastSuccessful
jobs/llvm-toolchain-*/nextBuildNumber
jobs/llvm-toolchain-*/svnexternals.txt
jobs/llvm-toolchain-*/configurations/
jobs/llvm-toolchain-*/scm-polling.log
jobs/llvm-defaults-*/lastStable
jobs/llvm-defaults-*/workspace/
jobs/llvm-defaults-*/builds/
jobs/llvm-defaults-*/disk-usage.xml
jobs/llvm-defaults-*/lastSuccessful
jobs/llvm-defaults-*/nextBuildNumber
jobs/llvm-defaults-*/svnexternals.txt
secrets/
updates/
userContent/
users/
.bash_history
.emacs.d/
.gitconfig
.gnupg/
.java/
.lesshst
.nano_history
.owner
.ssh/
.subversion/
*.log
cache/
logs/
plugins/
nodes/
