<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>amd64</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <jenkins.triggers.ReverseBuildTrigger>
      <spec></spec>
      <upstreamProjects>sigstore-sign-with-rekor, </upstreamProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </jenkins.triggers.ReverseBuildTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.46.2">
      <project>sigstore-build-rekor</project>
      <filter>rekor</filter>
      <target>/home/jenkins/</target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.46.2">
      <project>sigstore-build-rekor</project>
      <filter>rekor</filter>
      <target>~/</target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>set -e
REKOR_PATH=~/rekor

chmod +x $REKOR_PATH
ls -al $REKOR_PATH
$REKOR_PATH version


LIST=$(find /srv/repository \( -iname &apos;*.dsc&apos; -o -iname &apos;*.xz&apos; \) -a -mtime -120)
wget --quiet https://apt.llvm.org/sigstore.public.key
SERVER=https://rekor.sigstore.dev
for f in $LIST; do 
echo $f;

url=https://apt.llvm.org/$(echo $f|sed -e &quot;s|/srv/repository/||g&quot;)
if  curl --output /dev/null --silent --head --fail $url; then
    sum=$(sha256sum $f|awk &apos;{print $1}&apos;)
    $REKOR_PATH search --sha sha256:$sum --rekor_server $SERVER || true
    $REKOR_PATH verify --rekor_server $SERVER --signature &quot;$url.asc&quot; --public-key sigstore.public.key --artifact $url ||true

else 
    echo &quot;$url failed&quot; &gt;&gt; /tmp/fail.txt
fi
done

cat /tmp/fail.txt
rm /tmp/fail.txt</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@408.vd726a_1130320">
      <recipients>sylvestre@debian.org</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>