<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>amd64</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <jenkins.triggers.ReverseBuildTrigger>
      <spec></spec>
      <upstreamProjects>llvm-toolchain-binaries-sync, llvm-toolchain-bionic-binaries-sync, llvm-toolchain-bullseye-binaries-sync, llvm-toolchain-buster-binaries-sync, llvm-toolchain-focal-binaries-sync, llvm-toolchain-hirsute-binaries-sync, llvm-toolchain-impish-binaries-sync</upstreamProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </jenkins.triggers.ReverseBuildTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.46.2">
      <project>sigstore-build-rekor</project>
      <filter>rekor</filter>
      <target>/home/jenkins/</target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector">
        <stable>true</stable>
      </selector>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>REKOR_PATH=~/rekor


chmod +x $REKOR_PATH
ls -al $REKOR_PATH
$REKOR_PATH version
LIST=$(find /srv/repository/ -iname &apos;*.dsc&apos; -o -iname &apos;*.xz&apos;)

ALREADY_PROCESS=/srv/repository/in_rekor.txt

for f in $LIST; do 
echo $f
sign=$f.asc
dist_path=$(echo $f|sed -e &quot;s|/srv/repository/||g&quot;)

if test ! -f $sign; then
    gpg --batch --yes --armor -u sylvestre@debian.org --output /$sign --detach-sig $f
fi

if ! grep $sign $ALREADY_PROCESS; then
    # hasn&apos;t been processed before, let&apos;s do it
    url=https://apt.llvm.org/$dist_path
    if  curl --output /dev/null --silent --head --fail $url; then
        $REKOR_PATH upload --rekor_server https://rekor.sigstore.dev --signature $sign --public-key ~/sigstore.public.key --artifact $url
        $REKOR_PATH verify --rekor_server https://rekor.sigstore.dev --signature $sign --public-key ~/sigstore.public.key --artifact $url
        scp -o StrictHostKeyChecking=accept-new $sign apt@apt-origin.llvm.org:/data/apt/www/$dist_path.asc
        echo $sign &gt;&gt; $ALREADY_PROCESS
    else 
        echo &quot;$url failed&quot; &gt;&gt; /tmp/fail.txt
    fi
fi
done

cat /tmp/fail.txt
rm /tmp/fail.txt</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@391.ve4a_38c1b_cf4b_">
      <recipients>sylvestre@debian.org</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>